<!DOCTYPE html>
<html lang="en">

<head>
    <link href="/styles/mm-brand.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/styles/skeleton.css">
    <link rel="stylesheet" type="text/css" href="/styles/normalize.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Ingredients</title>
</head>

<body>
  <header>
    <h1>The Ingredients</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/bars">The Bars</a></li>
        <li><a href="/recipes">The Recipes</a></li>
      </ul>
    </nav>
  </header>
  <button><a href="/ingredients/new">Create New Ingredient (+)</a></button>
  <main>
    <sections>
      <h3>Spirits</h3>
      <ul>
        <% ingredients.forEach(ingredient => { %>
          <% if(ingredient.type === "spirit") { %>
            <li>
                <a><%= ingredient.name %></a>
                <a href="/ingredients/<%= ingredient._id %>/edit">(edit)</a>
            </li>
          <% } %>
        <% }) %>
      </ul>
    </sections>
    <sections>
      <h3>Soda</h3>
      <ul>
        <% ingredients.forEach(ingredient => { %>
          <% if(ingredient.type === "soda") { %>
            <li>
                <a><%= ingredient.name %></a>
                <a href="/ingredients/<%= ingredient._id %>/edit">(edit)</a>
            </li>
          <% } %>
        <% }) %>
      </ul>
    </sections>
    <sections>
      <h3>Juice</h3>
      <ul>
        <% ingredients.forEach(ingredient => { %>
          <% if(ingredient.type === "juice") { %>
            <li>
                <a><%= ingredient.name %></a>
                <a href="/ingredients/<%= ingredient._id %>/edit">(edit)</a>
            </li>
          <% } %>
        <% }) %>
      </ul>
    </sections>
    <sections>
      <h3>Mixers</h3>
      <ul>
        <% ingredients.forEach(ingredient => { %>
          <% if(ingredient.type === "mixer") { %>
            <li>
                <a><%= ingredient.name %></a>
                <a href="/ingredients/<%= ingredient._id %>/edit">(edit)</a>
            </li>
          <% } %>
        <% }) %>
      </ul>
    </sections>
    <sections>
      <h3>Syrup</h3>
      <ul>
        <% ingredients.forEach(ingredient => { %>
          <% if(ingredient.type === "syrup") { %>
            <li>
                <a><%= ingredient.name %></a>
                <a href="/ingredients/<%= ingredient._id %>/edit">(edit)</a>
            </li>
          <% } %>
        <% }) %>
      </ul>
    </sections>
    <sections>
      <h3>Bar Stock</h3>
      <ul>
        <% ingredients.forEach(ingredient => { %>
          <% if(ingredient.type === "barStock") { %>
            <li>
                <a><%= ingredient.name %></a>
                <a href="/ingredients/<%= ingredient._id %>/edit">(edit)</a>
            </li>
          <% } %>
        <% }) %>
      </ul>
    </sections>
    <sections>
      <h3>Garnish</h3>
      <ul>
        <% ingredients.forEach(ingredient => { %>
          <% if(ingredient.type === "garnish") { %>
            <li>
                <a><%= ingredient.name %></a>
                <a href="/ingredients/<%= ingredient._id %>/edit">(edit)</a>
            </li>
          <% } %>
        <% }) %>
      </ul>
    </sections>
  </main>
</body>

</html>