<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/styles/mm-brand.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/styles/skeleton.css">
    <link rel="stylesheet" type="text/css" href="/styles/normalize.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Edit <%= bar.name %></title>
</head>
<body>
  <header>
    <h1>Edit <%= bar.name %></h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/ingredients">The Ingredients</a></li>
        <li><a href="/recipes">The Recipes</a></li>
        <li><a href="/bars">The Bars</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section>
      <form action="/bars/<%= bar._id %>?_method=PUT" method="POST">
        <input type="text" name="name" placeholder="<%= bar.name %>" value="<%= bar.name %>"/>
        <fieldset>
          <legend>Spirits</legend>
          <% ingredients.forEach(ingredient => { %>
            <% if(ingredient.type === "spirit") { %>
              <div>
                <% bar.ingredients.forEach(barIngredient => { %>
                  <% if(barIngredient.name === ingredient.name) { %>
                    <% return %> <input type="checkbox" id="<%= ingredient.name %>" name="ingredients" value="<%= ingredient._id %>" checked>
                  <% } else { %>
                    <input type="checkbox" id="<%= ingredient.name %>" name="ingredients" value="<%= ingredient._id %>">
                  <% } %>
                <% }) %>
                <label for="<%= ingredient.name %>"><%= ingredient.name %></label>
              </div>
            <% } %>
          <% }) %>
        </fieldset>
        <h3>Soda</h3>
        <select name="ingredients" multiple>
          <% ingredients.forEach(ingredient => { %>
            <% if(ingredient.type === "soda") { %>
              <option value="<%= ingredient._id %>"><%= ingredient.name %></option>
            <% } %>
          <% }) %>
        </select>
        <h3>Juice</h3>
        <select name="ingredients" multiple>
          <% ingredients.forEach(ingredient => { %>
            <% if(ingredient.type === "juice") { %>
              <option value="<%= ingredient._id %>"><%= ingredient.name %></option>
            <% } %>
          <% }) %>
        </select>
        <h3>Mixers</h3>
        <select name="ingredients" multiple>
          <% ingredients.forEach(ingredient => { %>
            <% if(ingredient.type === "mixers") { %>
              <option value="<%= ingredient._id %>"><%= ingredient.name %></option>
            <% } %>
          <% }) %>
        </select>
        <h3>Syrup</h3>
        <select name="ingredients" multiple>
          <% ingredients.forEach(ingredient => { %>
            <% if(ingredient.type === "syrup") { %>
              <option value="<%= ingredient._id %>"><%= ingredient.name %></option>
            <% } %>
          <% }) %>
        </select>
        <h3>Bar Stock</h3>
        <select name="ingredients" multiple>
          <% ingredients.forEach(ingredient => { %>
            <% if(ingredient.type === "barStock") { %>
              <option value="<%= ingredient._id %>"><%= ingredient.name %></option>
            <% } %>
          <% }) %>
        </select>
        <h3>Garnish</h3>
        <select name="ingredients" multiple>
          <% ingredients.forEach(ingredient => { %>
            <% if(ingredient.type === "garnish") { %>
              <option value="<%= ingredient._id %>"><%= ingredient.name %></option>
            <% } %>
          <% }) %>
        </select>
        <input type="submit" value="Update Collection" />
      </form>
    </section>
  </main>
</body>
</html>