<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= bar.name %></title>
</head>
<body>
  <header>
    <h1><%= bar.name %></h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/ingredients">The Ingredients</a></li>
        <li><a href="/recipes">The Recipes</a></li>
        <li><a href="/bars">The Bars</a></li>
      </ul>
    </nav>
    <div>
      <button><a href="/bars/<%= bar._id %>/edit">Edit Collection</a></button>
      <button><a href="/bars/<%= bar._id %>/delete">Delete Collection</a></button>
    </div>
  </header>
  <main>
    <h2>Collection Inventory</h2>
    <sections>
      <h3>Spirits</h3>
      <ul>
        <% bar.ingredients.forEach(ingredient => { %>
          <% if(ingredient.type === "spirit") { %>
            <li><a><%= ingredient.name %></a></li>
          <% } %>
        <% }) %>
      </ul>
      <h3>Soda</h3>
      <ul>
        <% bar.ingredients.forEach(ingredient => { %>
          <% if(ingredient.type === "soda") { %>
            <li><a><%= ingredient.name %></a></li>
          <% } %>
        <% }) %>
      </ul>
      <h3>Juice</h3>
      <ul>
        <% bar.ingredients.forEach(ingredient => { %>
          <% if(ingredient.type === "juice") { %>
            <li><a><%= ingredient.name %></a></li>
          <% } %>
        <% }) %>
      </ul>
      <h3>Mixers</h3>
      <ul>
        <% bar.ingredients.forEach(ingredient => { %>
          <% if(ingredient.type === "mixer") { %>
            <li><a><%= ingredient.name %></a></li>
          <% } %>
        <% }) %>
      </ul>
      <h3>Syrup</h3>
      <ul>
        <% bar.ingredients.forEach(ingredient => { %>
          <% if(ingredient.type === "syrup") { %>
            <li><a><%= ingredient.name %></a></li>
          <% } %>
        <% }) %>
      </ul>
      <h3>Bar Stock</h3>
      <ul>
        <% bar.ingredients.forEach(ingredient => { %>
          <% if(ingredient.type === "barStock") { %>
            <li><a><%= ingredient.name %></a></li>
          <% } %>
        <% }) %>
      </ul>
      <h3>Garnish</h3>
      <ul>
        <% bar.ingredients.forEach(ingredient => { %>
          <% if(ingredient.type === "garnish") { %>
            <li><a><%= ingredient.name %></a></li>
          <% } %>
        <% }) %>
      </ul>
    </sections>
    <section>
      <h2>Recipe Matches</h2>
      <p><%= recipes.name %></p>
      <!-- let match
      recipes.forEach(recipe => {
        recipe.ingredients.forEach(recipeIngredient => {
          if(recipeIngredient.name ===
          bar.ingredients.forEach(barIngredient => {
            return barIngredient.name})){
              match=true
            } else {
              match=false
            }
            if(match === true){
              <p>recipes.name</p>
            }
          })
        }) -->
    </section>
  </main>
</body>
</html>